@import url("https://fonts.googleapis.com/css2?family=Piazzolla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Sample CSS for the WHY word */

.whyWLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

.whyHLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
}

.whyYLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}

/* DID word */

.didDLetter {
  font-size: 100px;
  color: red;
  font-weight: 900;
}

.didILetter {
  color: blue;
}

.didDTwoLetter {
  color: cadetblue;
  font-weight: bold;
}

/* THE word */

.theTLetter {
  font-size: 100px;
  color: black;
  font-weight: 400;
}

.theHLetter {
  color: darkmagenta;
  font-size: 60px;
}

.theELetter {
  color: coral;
  font-size: 80px;
  text-decoration: line-through;
}

/* FRONT-END word */

.frontendFLetter {
  font-size: 30px;
  color: rgb(111, 22, 4657);
  text-transform: capitalize;
}

.frontendRLetter {
  color: crimson;
}

.frontendOLetter {
  color: darkorange;
  text-decoration: overline;
}

.frontendNLetter {
  color: forestgreen;
  font-weight: 700;
}

.frontendTLetter {
  color: lightcoral;
  font-size: 50px;
}

.frontendELetter {
  color: indigo;
}

.frontendNTwoLetter {
  color: rosybrown;
}

.frontendDLetter {
  text-decoration: underline;
  color: hotpink;
  font-weight: normal;
}

/* DEVELOPER word */

.developerELetter,
.developerVLetter,
.developerETwoLetter,
.developerLLetter,
.developerOLetter,
.developerPLetter,
.developerEThreeLetter,
.developerRLetter {
  color: firebrick;
  font-family: "Mulish", serif;
}

/* TAKE word */

.takeALetter {
  color: hotpink;
  font-size: 20px;
}
.takeKLetter {
  color: cyan;
}
.takeELetter {
  color: darkviolet;
}

/* UP word */

.upULetter,
.upPLetter {
  font-family: "Playwrite VN", serif;
  color: maroon;
  font-weight: 900;
  text-decoration: underline;
  font-size: 50px;
}

/* GARDENING word */

.gardeningALetter {
  color: aqua;
}
.gardeningRLetter {
  color: darksalmon;
}
.gardeningDLetter {
  color: indigo;
}
.gardeningELetter {
  color: black;
  font-size: 80px;
}
.gardeningNLetter {
  color: darkkhaki;
  font-size: 60px;
}
.gardeningILetter {
  color: indianred;
}
.gardeningNTwoLetter {
  color: brown;
}
.gardeningGTwoLetter {
  color: crimson;
  font-size: 30px;
}

/* BECAUSE word */

.becauseBLetter,
.becauseELetter,
.becauseCLetter,
.becauseALetter,
.becauseULetter,
.becauseSLetter,
.becauseETwoLetter {
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.2);
  font-size: 100px;
}

/* THEY word */

.theyTLetter,
.theyHLetter,
.theyELetter,
.theyYLetter {
  color: darkseagreen;
  font-size: 30px;
}

/* WANTED word */

.wantedWLetter,
.wantedALetter,
.wantedNLetter,
.wantedTLetter,
.wantedELetter,
.wantedDLetter {
  color: lawngreen;
  font-weight: 400;
  font-size: 100px;
}

/* TO word */

.toTLetter,
.toOLetter {
  font-family: "Playwrite VN", serif;
  color: plum;
  font-size: 40px;
  text-transform: capitalize;
}

/* IMPROVE word */

.improveILetter,
.improveMLetter,
.improvePLetter,
.improveRLetter,
.improveOLetter,
.improveVLetter,
.improveELetter {
  color: mintcream;
  font-size: 90px;
  text-decoration: line-through;
}

/* THEIR word */

.theirTLetter {
  color: aquamarine;
  text-decoration: line-through;
}
.theirHLetter {
  color: black;
  text-decoration: underline;
}
.theirELetter {
  color: crimson;
  text-decoration: none;
}
.theirILetter {
  color: forestgreen;
  font-size: 100px;
}
.theirRLetter {
  color: cornflowerblue;
}

/* ROOT word */

.rootRLetter,
.rootOLetter,
.rootOTwoLetter,
.rootTLetter {
  color: darkorange;
  font-size: 50px;
  font-weight: 700;
}

/* SKILLS word */

.skillsKLetter,
.skillsILetter,
.skillsLLetter,
.skillsLTwoLetter,
.skillsSTwoLetter {
  color: mediumorchid;
  text-decoration: line-through;
  font-size: 30px;
}

/* SYMBOLS */

.hyphen,
.exclamation-mark,
.question-mark {
  color: black;
  font-size: 100px;
}

.developerDLetter,
.takeTLetter,
.gardeningGLetter,
.becauseBLetter,
.improveILetter,
.skillsSLetter {
  font-size: 80px;
  font-weight: bold;
  font-family: "Kenia", serif;
  color: deeppink;
  text-decoration: line-through;
}
